@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */ 
* {
  font-family: 'Exo', sans-serif !important;
}

html {
  scroll-behavior: smooth !important;
  background-color: #10172A !important;
}

/* Animations */ 
.animate-fade {
  animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Markdown style */
.prose {
  @apply text-slate-300;
}

.prose h2 {
  @apply text-3xl font-bold mt-20 mb-8 text-slate-100;
}

.prose h3 {
  @apply text-2xl font-semibold mt-16 mb-6 text-slate-100;
}

.prose p {
  @apply mb-8 leading-relaxed text-lg text-slate-300;
}

.prose ul {
  @apply list-disc pl-6 mb-8 text-lg text-slate-300 space-y-2;
}

.prose pre {
  @apply bg-slate-800 p-6 mb-8 overflow-x-auto rounded-md;
}

.prose code {
  @apply bg-slate-800 px-1.5 py-0.5 text-sm font-mono text-slate-300;
}

.prose img {
  @apply my-10 max-w-md mx-auto rounded-lg;
}

.prose a {
  @apply text-blue-500 hover:text-blue-400 underline underline-offset-4;
}

.prose blockquote {
  @apply border-l-2 border-slate-700 pl-6 italic my-8 text-slate-400;
} 

.prose .lazy-image {
  @apply my-10 max-w-md mx-auto relative;
}

.prose .lazy-image img {
  @apply my-0 rounded-lg;
}

/* transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.2s ease;
}

.slide-left-enter-from {
  opacity: 0;
  transform: translateX(5px);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}

.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-5px);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translateX(5px);
}